.rotate {
    display: block;
    margin: 0 auto;
    width: 150px; /* Regola le dimensioni secondo necessità */
    height: 150px;
    background-image: url('../images/5153829.jpg'); /* Percorso dell'immagine */
    background-size: cover;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}