body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    background-image: url('../images/abstract-2d-colorful-wallpaper-with-grainy-gradients.jpg'); /* Sostituisci con il percorso della tua immagine */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    backdrop-filter: blur(10px); /* Effetto di sfocatura */
    -webkit-backdrop-filter: blur(10px); /* Supporto per browser WebKit */
    z-index: 1;
}

.form-container {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8); /* Colore di sfondo del modulo con opacità */
    padding: 20px;
    border-radius: 8px;
}

.alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
